.weatherBg{
  background: url('./images/weatherback.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.heading{
  color: white;
  font-weight: 700;
}
.weatherResultBox{
 
  width: 500px;
  height: 300px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weatherIcon{
  margin-top: 2rem;
   width: 100px;
   height: 100px;
   
}
.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size: 55px;
}